.contact  {
  padding: 80px 60px 80px 60px;
  @include flex();
  flex-direction: column;
  font-family: $font-family-open-sans;
  background-color: $color-mainbar-background-dark;

  h2 {
    font-size: 3.6em;
    font-weight: normal;
    color: $color-mainbar-text-dark;
    text-align: center;
  }

  p {
    max-width: 1500px;
    margin-top: 10px;
    font-size: 2em;
    color: $color-mainbar-text-light;
    text-align: center;
  }

  span {
    max-width: 1500px;
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
    color: $color-mainbar-text-light;
    text-align: center;
  }
}