@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-auto-rows: minmax(250px, auto);
  grid-gap: $gap;
}