.sidebar {
  position: absolute;
  height: 100vh;
  min-height: 600px;
  background-color: $color-sidebar-background;
  align-items: flex-start;
  width: 100%;
  @include flex();
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: 1024px) {
    position: relative;
    width: 275px;
    min-width: 275px;
  }

  @media (min-width: 1500px) {
    width: 335px;
    min-width: 335px;
  }

  &__user {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      margin-top: 50px;
      padding: 0 20px 0 20px;
      @include flex();
      justify-content: space-between;
      width: 100%;
    }
  }

  &__wrapper {
    @include flex();
    align-items: flex-end;
    flex-direction: column;
  }

  img {
    display: none;

    @media(min-width: 1024px) {
      display: block;
      width: 80px;
      height: auto;
    }

    @media (min-width: 1500px) {
      width: 100px;
    }
  }

  &__name {
    font-size: 2.3em;
    color: $color-white;
    margin-bottom: 6px;
    font-family: $font-family-open-sans;

    @media (min-width: 1500px) {
      font-size: 2.8em;
    }
  }

  &__job {
    font-size: 1.4em;
    color: $color-sidebar-text;
    font-family: $font-family-open-sans;

    @media (min-width: 1500px) {
      font-size: 1.6em;
    }
  }

  &__nav {
    width: 100%;
    margin-top: 60px;
    flex-grow: 1;

    @media (min-width: 1024px) {
      margin-top: 20px;
    }
  }

  &__element {
    height: 60px;
    padding: 0 20px 0 20px;
    @include flex();
    justify-content: center;
    cursor: pointer;

    @media (min-width: 1024px) {
      justify-content: space-between;
    }

    &:hover {
      background-color: darken($color-sidebar-background, 3);

      a {
        color: $color-sidebar-highlight;
      }

      i {
        color: $color-sidebar-highlight;
      }
    }

    a {
      margin-left: 20px;
      font-family: $font-family-open-sans;
      color: $color-sidebar-text;
      text-decoration: none;
      font-size: 2em;
    }

    i {
      color: $color-sidebar-icon;
      font-size: 3em;
    }
  }

  &__footer {
    width: 100%;
    margin-bottom: 10vh;
    @include flex();
    font-size: 3em;
    color: $color-sidebar-text;

    i {
      cursor: pointer;
      color: $color-sidebar-icon;

      &:hover {
        color: $color-sidebar-highlight;
      }
    }

    i:not(:last-of-type) {
      margin-right: 10px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 10px;
    }
  }
}