$color-white: #FFFFFF;
$color-whitesmoke: whitesmoke;
$color-sidebar-background: #222629;
$color-sidebar-highlight: #79BCB8;
$color-sidebar-icon: #41484C;
$color-sidebar-text: #7F8183;
$color-mainbar-text-light: #7F8183;
$color-mainbar-text-dark: #41484C;
$color-mainbar-background-light: whitesmoke;
$color-mainbar-background-dark: #F0F0F0;
$font-family-open-sans: 'Open Sans', sans-serif;